<!-- Start Carousel -->
<div class="carousel events-carousel is-hidden-touch box-shadow-bulma" style="height: 200px;overflow:hidden;">
    {% set count_2 = 0 %}
    {% for event in events[1:] %}
        {% if count_2 < 4 %}
            {{ include('event/event_container_desktop.html.twig') }}
        {% endif %}
        {% set count_2 = count_2 + 1 %}
    {% endfor %}
</div>
<!-- End Carousel -->
