{% extends 'base.html.twig' %}

{% block title %}{% trans %}Register{% endtrans %}{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="is-flex align-content-center is-justify-content-center is-100vh">
        <div class="column is-full-mobile is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
            <h1 class="subtitle is-3 has-text-white">{% trans %}Register{% endtrans %}</h1>
            {{ include('themes/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
