<a href="{{ path(entity_type~'_'~action, {'id': entity.id}) }}" class="button {% if action == 'delete' %}is-danger{% else %}is-success{% endif %} is-small is-rounded p-3" {% if confirm_msg is defined and confirm_msg %}onclick="return confirm('{{ confirm_msg }}')"{% endif %}>
    {% if action == 'show' %}
        <span class="icon">
            <i class="fas fa-lg fa-eye"></i>
        </span>
    {% elseif action == 'edit' %}
        <span class="icon">
            <i class="fas fa-lg fa-edit"></i>
        </span>
    {% elseif action == 'delete' %}
        <span class="icon">
            <i class="fas fa-lg fa-trash-alt"></i>
        </span>
    {% else %}
        {{ text }}
    {% endif %}
</a>
