<a href="{% if entity %}{{ path(entity_type~'_'~action, {'id': entity.id}) }}{% else %}{{ path(entity_type~'_'~action) }}{% endif %}" class="button {% if action != 'new' %}is-outlined{% endif %} has-text-weight-bold is-rounded {% if action != 'new' %}p-3{% else %}p-4{% endif %} m-1 {% if action == 'new' %}is-normal{% else %}is-small{% endif %} {% if action == 'delete' %}is-danger{% else %}is-success{% endif %}" {% if confirm_msg is defined and confirm_msg %}onclick="return confirm('{{ confirm_msg }}')"{% endif %}>
    {% if action == 'show' %}
        <span class="icon">
            <i class="fas fa-lg fa-magnifying-glass"></i>
        </span>
    {% elseif action == 'edit' %}
        <span class="icon">
            <i class="fas fa-lg fa-edit"></i>
        </span>
    {% elseif action == 'delete' %}
        <span class="icon">
            <i class="fas fa-lg fa-trash-alt"></i>
        </span>
    {% elseif action == 'send' %}
        <span class="icon">
            <i class="fas fa-lg fa-paper-plane"></i>
        </span>
    {% elseif action == 'new' %}
        <span class="icon">
            <i class="fas fa-lg fa-plus"></i>
        </span>
    {% else %}
        {{ text }}
    {% endif %}
</a>
