{% extends 'base.html.twig' %}

{% block title %}{% trans %}Password Reset Email Sent{% endtrans %}{% endblock %}

{% block body %}
<div class="column is-two-fifths-desktop is-two-thirds-tablet has-background-light">
    <p>
        {% trans %}If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.{% endtrans %}
        {% trans %}This link will expire in{% endtrans %} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>{% trans %}If you don't receive an email please check your spam folder or {% endtrans %}</p>
    <a class="button is-small is-primary is-light" href="{{ path('app_forgot_password_request') }}">{% trans %}try again{% endtrans %}</a>.
</div>
{% endblock %}
