{% extends 'base.html.twig' %}

{% block title %}{% trans %}Bibliography{% endtrans %}{% endblock %}

{% block body %}

    {% for book in books %}
        <div class="modal transition-5ms" id="modalBook{{ book.id }}">
            <div class="modal-background" onclick="this.parentElement.classList.remove('is-active')"></div>
            <div class="modal-content">
                {{ include('book/modal_book.html.twig') }}
            </div>
            <button class="modal-close is-large" aria-label="close" onclick="this.parentElement.classList.remove('is-active')"></button>
            <div class="column" style="position: fixed;bottom: 0;">
                {% if book.redirectlink %}
                        <a href="{{ book.redirectlink }}" class="button is-success">
                            {% trans %}Go to shop{% endtrans %}
                        </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}

    <div class="section column is-full has-text-white">
        <h1 class="title has-text-white">{% trans %}Bibliography{% endtrans %}</h1>
        <h2 class="subtitle has-text-white">{% trans %}Welcome to the bibliography page of the artist{% endtrans %}</h2>
        <p class="has-text-grey-light">
            {% trans %}Find the entire literary collection of the artist{% endtrans %}...
            <br>
        </p>
    </div>

    {% if books|length > 0 %}
        <div class="column is-full is-full-mobile">
            {{ include('bibliography/books_list.html.twig') }}
        </div>
    {% endif %}



{% endblock %}


{% block javascripts %}

    <script>

        {#          BULMA CAROUSEL            #}
        //initialize options :

        var options = {
            initialSlide: 0,
            slidesToScroll: 1,
            slidesToShow: 5,
            infinite: false,
            loop:true,
            effect: 'translate',
            autoplay: true,
            duration:1000,
            autoplaySpeed:2000,
            navigationSwipe: true,
            navigationKeys: true,
            pagination: false,
        };

        // Initialize all div with carousel class
        var carousels = bulmaCarousel.attach('.carousel', options);

        // Loop on each carousel initialized
        for(var i = 0; i < carousels.length; i++) {
            // Add listener to  event
            carousels[i].on('before:show', state => {

            });
        }
        {#                               #}

        {# SCRIPT POUR BARRE DE RECHERCHE FILTRE JS #}
        // function searchFilter() {
        //     // Declare variables
        //     var input, filter, albumName, musicName, albumTxtValue, musicTxtValue, musicContainer;
        //     input = document.getElementById('searchInput');
        //     filter = input.value.toUpperCase();
        //
        //     musicContainer = document.querySelectorAll('.music-container');
        //
        //     // Loop through all list items, and hide those who don't match the search query
        //     musicContainer.forEach(function (container) {
        //         albumName = container.querySelector('.album-name');
        //         musicName = container.querySelector('.music-name');
        //         albumTxtValue = albumName.textContent || albumName.innerText;
        //         musicTxtValue = musicName.textContent || musicName.innerText;
        //         if ( (albumTxtValue.toUpperCase().indexOf(filter) > -1) || (musicTxtValue.toUpperCase().indexOf(filter) > -1) ) {
        //             container.classList.remove('is-hidden');
        //             container.classList.replace('opacity0', 'opacity100')
        //         } else {
        //             container.classList.add('is-hidden');
        //             container.classList.replace('opacity100', 'opacity0')
        //         }
        //     });
        // }
        {#                               #}

    </script>
{% endblock %}
