<form method="post" action="{{ path('music_delete', {'id': music.id}) }}" onsubmit="return confirm({% trans %}'Are you sure you want to delete this item?'{% endtrans %});">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ music.id) }}">
    <button class="button is-danger is-small">{% trans %}Delete{% endtrans %}</button>
</form>