<a href="{{ path('music_edit', {'id': music.id}) }}" class="button p-3 is-warning is-small" style="position:absolute;right: 0;top: 0;z-index: 2;">
    <span class="icon">
        <i class="fas fa-lg fa-edit"></i>
    </span>
</a>
