{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Book{% endtrans %}{% endblock %}

{% block body %}
    <div class="column is-two-fifths-desktop is-two-thirds-tablet has-background-light">
        <h1 class="subtitle is-3">{% trans %}Edit Book{% endtrans %}</h1>
        {{ include('themes/_form.html.twig') }}
    </div>
{% endblock %}