{#<div class="has-background-success-light">#}

    <h3 class="has-text-white has-text-centered">{{ book.title }}</h3>

    <div class="is-flex is-flex-direction-row is-align-items-center is-justify-content-center">
        <div class="column is-half" style="margin: auto;">
            <figure class="image is-4by5">
                {% if book.image %}
                    <img src="{{ vich_uploader_asset(book, 'imageFile') }}">
                {% else %}
                    <img src="https://bulma.io/images/placeholders/480x600.png">
                {% endif %}
            </figure>
        </div>

        {% if book.imageverso %}
            <div class="column is-half" style="margin: auto;">
                <figure class="image is-4by5">
                    <img src="{{ vich_uploader_asset(book, 'imageVersoFile') }}">
                </figure>
            </div>
        {% endif %}

    </div>


    <div class="column">
        {% if book.description %}
            <div class="column">
                <p class="has-text-white">
                    {{ book.description }}
                </p>
            </div>
        {% endif %}
    </div>

{#</div>#}


