{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container is-flex is-justify-content-center is-align-items-center has-background-danger-light is-100vh">
        <input type="date" class="bulma-calendar is-small" id="my-element">
    </div>
{% endblock %}
