<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>MB Ministry</strong>
            © 2022 | <a href="{{ path('home_index') }}">www.marcel-boungou.com</a> | Property of Marcel BOUNGOU. All rights reserved.
            The source code is licensed.
        </p>
    </div>
</footer>
