<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>MB Ministry</strong>
            © 2022 | <a href="{{ path('home_index') }}">www.marcel-boungou.com</a> | Property of Marcel BOUNGOU. All rights reserved.
            The source code is licensed.
        </p>
        <p>{% trans %}Vous ne voulez plus recevoir de mail en provenance de www.marcel-boungou.com{% endtrans %} ? <a href="{{ path('subscrib_remove_all') }}">{% trans %}se désinscrire{% endtrans %}</a></p>
    </div>
</footer>
