<article class="message is-medium is-warning mb-6">
    <div class="message-header is-justify-content-center">
        <p>{{ 'Information'|trans }}</p>
    </div>
    <div class="message-body has-text-centered">
        <p class="">
            {{ 'Unfortunately, no content is currently available. Please be patient'|trans }}
        </p>
    </div>
</article>