{% extends 'base.html.twig' %}

{% block title %}{{ 'Gallery'|trans }}{% endblock %}

{% block body %}
    <div class="column is-full">
        <h1 class="title has-text-white">{% trans %}Gallery{% endtrans %}</h1>
        <h2 class="subtitle has-text-white">{% trans %}Pacrourez l'ensemble des photos et illustration{% endtrans %}</h2>
        <p class="has-text-white">
{#            {% trans %}Find all the musical collections, from the great classics to the most recent productions, including the essentials{% endtrans %}#}
{#            <br>#}
            {% trans %}Filter your search by writing a word in the search bar...{% endtrans %}
        </p>
    </div>

    <div class="column has-background-light is-full is-full-mobile" style="position: sticky;top: 3.85rem;z-index: 29">
        <div class="field">
            <div class="control has-icons-right has-icons-left is-relative">
                <input class="input" type="text" id="searchInput" onkeyup="searchFilter()" placeholder="{% trans %}Type your search here{% endtrans %}">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                <div class="show-password" onclick="resetSearch()">
                    <button class="button is-danger" style="width: 100%">
                    <span class="icon is-small">
                        <i class="fas fa-2x fa-times"></i>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
