<div style="height: 200px;width:100%;background: center / contain no-repeat {% if picture.image %}url({{ vich_uploader_asset(picture, 'imageFile') }}){% else %}url('https://bulma.io/images/placeholders/720x240.png'){% endif %}">

</div>
