<div style="height: 200px;width:100%;background: center / contain no-repeat {% if picture.image %}url('{{ vich_uploader_asset(picture, 'imageFile') }}'){% else %}url({{ asset('build/images/no-pictures.4f531dc6.png') }}){% endif %}">

</div>
