
$link: #987f00;
$link-hover: #c2a800;
$success: #da6d00;
$success-layer: rgba(218, 112, 0, 0.7);
$primary: #7C4A8C;
$primary-layer : rgba(124, 74, 140, 0.7);
$black: #0a0a0a;
$dark: #4a4a4a;
$white-layer: rgba(255, 255, 255, 0.7);
$black-layer: rgba(0, 0, 0, 0.7);

$footer-background-color: $black;
$footer-color: $dark;
$footer-padding: 3rem 1.5rem 6rem;

$dropdown-menu-min-width: 0;
$dropdown-content-padding-top: 0;
$dropdown-content-padding-bottom: 0;
$calendar-border-radius: 0;
$box-radius: 0;
$navbar-height: 4rem;
$navbar-item-hover-background-color: $white-layer;
$navbar-item-color: white;
$navbar-burger-color: white;
.navbar-burger:hover{
  background: rgba(255,255,255,.5) !important;
}

$navbar-dropdown-background-color: $success;
$navbar-dropdown-item-hover-background-color: $white-layer;
$navbar-dropdown-item-hover-color: $success;
$navbar-item-hover-color: $success;
$dropdown-divider-background-color: $white-layer;

$card-radius: 0;

$modal-content-width: auto;
.modal-content{
  max-width: 1000px;
}

.tag.is-active{
  background-color: $success !important;
}

.table{
  margin: auto;
}

//$font-quintessential : 'Quintessential', cursive;
//$font-nothing-you-could-do: 'Nothing You Could Do', cursive;
//$font-kavivanar: 'Kavivanar', cursive;
//$font-eagle-lake: 'Eagle Lake', cursive;
//$font-amita: 'Amita', cursive;
//$font-marcellus: 'Marcellus', serif;
//$font-montserrat: 'Montserrat', sans-serif;
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-quicksand : 'Quicksand', sans-serif;

//$navbar-item-active-background-color: #7C4A8C;
//$navbar-dropdown-item-active-background-color:#7C4A8C;
$navbar-dropdown-radius: 0;
$radius : 0;
$box-shadow-bulma: 0 0.5em 1em -0.125em rgb(10 10 10 / 10%), 0 0px 0 1px rgb(10 10 10 / 2%) !important;
$box-shadow-bulma-dark: 0 0.5em 1em -0.125em rgba(10, 10, 10, .5) !important;
.box-shadow-bulma-event-card{
  box-shadow: 0 0.5em 1em 0.3em rgba(10, 10, 10, 0.2) !important;
}

$title-font: $font-josefin-sans;

*{
  //transition: .2s;
  font-family: $font-quicksand;
  scroll-behavior: smooth;
}
h1, h2, h3{
  font-family: $title-font;
}

.font-quicksand{
  font-family: $font-quicksand !important;
}
.font-josefin-sans{
  font-family: $font-josefin-sans !important;
}
.navbar-item{
  font-family: $font-quicksand;
}

.pointer-hover:hover{
  cursor: pointer !important;
}

body{
  min-height: 100vh;
}

.shadow-box-1{
  background: rgba(255,255,255,.1);
  border-radius:.5rem;
  box-shadow: 0 0 5px rgba(255,255,255,.9);
}

section.body{
  min-height: inherit;
  //padding-top: 3rem;
}

.main-background{
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
}
.main-background img{
  position: fixed;
  height: 100vh;
  width: 100vw;
  filter: grayscale(100%);
  object-fit: cover;
}
.main-background-layer, .nav-background-layer{
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  opacity: 70%;
}
.nav-background-layer{
  background: $success;
}
.main-background-layer{
  background: black;
}
.nav-background{
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.nav-background img{
  filter: grayscale(100%);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.navbar-item{
  font-weight: lighter;
}
.navbar-item:hover{
  letter-spacing: .15rem !important;
  font-weight: bold;
}

.navbar-menu{
  background: none !important;
}

.box-shadow-primary{
  box-shadow: 0 0 3px 3px $primary;
}

.box-shadow-success{
  box-shadow: 0 0 10px 1px $success;
}

.text-shadow-success{
  text-shadow: 0 0 5px $success;
}

.text-shadow-primary{
  text-shadow: 0 3px 5px $primary;
}


.object-fit-contain{
  object-fit: contain;
}

//.music-container{
//  filter: grayscale(1);
//}

.blur1rem{
  filter: blur(1rem);
}

.blur05rem{
  filter: blur(.5rem);
}

.blur4px{
  filter: blur(4px);
}

.grayscale100{
  filter: grayscale(100);
}

.z-index-1{
  z-index: 1;
}

.next-event-logo{
  z-index: 1;
  width: 100%;
  color: white;
}
.next-event-logo span{
  position: relative;
  display: inline-block;
  animation: glow 3s ease-in-out infinite, waviy 3s infinite;
  animation-delay: calc(.2s * var(--i));
  font-family: $title-font;
}

a{
  animation-iteration-count: 1
}

.opacity100onhover:hover{
  opacity: 100% !important;
}

.opacity85{
  opacity: 85%;
}

.opactity0{
  opacity: 0;
}

.flash-msg
{
  position: fixed;
  z-index: 5;
  width: 100%;
  opacity: 90%;
}

/*
#header{
  width: 100%;
  height: 4em;
  background: $primary;
  position: fixed;
  top: 0;
  z-index: 5;
}

#footer{
  width: 100%;
  min-height: 6em;
  background: $primary;
  position: relative;
}
*/

.is-size-mega {
  font-size: 10em !important;
}

.is-100vh{
  height: 100vh;
}
.is-100vw{
  height: 100vw;
}

.box-shadow-bulma{
  box-shadow: $box-shadow-bulma;
}
.box-shadow-bulma-dark{
  box-shadow: $box-shadow-bulma-dark;
}

button.datepicker-nav-next:active, button.datepicker-nav-next:focus, button.datepicker-nav-previous:active, button.datepicker-nav-previous:focus{
  background: rgba(255,255,255,.3) !important;
}
.datepicker > *{
  transition: .5s;
}
.datetimepicker-footer-today{
  background: $primary !important;
}

.date-item.is-today{
  border-style: dotted !important;
  border-width: .15rem !important;
}

.date-item.is-highlighted{
  border-color: rgba(218, 109, 0, 0.58) !important;
}

.is-active{
  transition: .5s;
}

.datepicker-year.is-active, .datepicker-month.is-active{
  background: $success !important;
  border-color: $success !important;
}

.highlight-info{
  min-height: 50px;
  width: 100%;
  position: absolute;
  top: 100%;
  z-index: 2;
}

.datetimepicker{
  width: 100% !important;
  max-width: none !important;
}

.show-password{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  //width: 40px;
}
.show-password:hover{
  cursor: pointer;
}

.borderless{
  border-radius: 0 !important;
}

.is-height-100-percent{
  height: 100% !important;
}

.transition-3ms{
  transition: .3s !important;
}

.transition-5ms{
  transition: .5s !important;
}

.transition-1s{
  transition: 1s !important;
}

.transition-2s{
  transition: 2s !important;
}

.opacity0{
  opacity: 0 !important;
}

.opacity100{
  opacity: 100% !important;
}

.scalup-hover:hover{
  transform: scale(1.03);
}
.scalup-1-1{
  transform: scale(1.1) !important;
}

.parallax {
  position: relative;
  /* The image used */

  /* Set a specific height */
  //min-height: 100vh !important;

  /* Create the parallax scrolling effect */
  background-attachment: fixed !important;
  //background-position: left !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  //object-fit: cover;
}


.arrow_up{
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  z-index: 1500;
  width: 40px;
  height: 40px;
  background: rgba(0,0,0,0.7);
  border: $success solid 3px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.arrow_up:hover{
  animation: jumpUp .8s infinite ease-in-out;
}

.search-bar{
  position: sticky;
  top: 3.85rem;
  z-index: 5
}

#musicNav{
  position: fixed;
  bottom: 0;
  z-index: 5;
}

.overflow-ellipsis{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// BREAK RESPONSIVE FOR DESKTOP
@media (max-width: 1023px ) {

  #navbarBasic{
   // background: $primary !important;
    height: 100vh;
  }
  .has-text-white-desktop{
    color: white !important;
  }
  .has-text-dark-desktop{
    color: $dark !important;
  }
}
// BREAK RESPONSIVE FOR TOUCH (MOBIL & TABLET)
@media (min-width: 1023px ) {
  #majorEvent figure{
    height: 300px;
  }
  .has-text-dark-touch{
    color: $dark !important;
  }
  .has-text-white-touch{
    color: white !important;
  }
  .disc{
    position: absolute;
    transition: .3s;
    z-index: 1;
  }
  .disc-hidden{
    display: none !important;
  }
  .disc-far-left{
    left:25vw;
  }
  .disc-near-left{
    left:30vw;
  }
  .disc-near-right{
    right:30vw;
  }
  .disc-far-right{
    right:25vw;
  }
  .disc-far-left, .disc-far-right{
    opacity : .2;
    z-index : 1;
    transform : scale(.90);
  }
  .disc-near-left, .disc-near-right{
    opacity : .5;
    z-index : 2;
    transform : scale(.95);
  }
  .disc-selected{
    opacity: 1;
    z-index: 3;
    transform: scale(1);
  }
}

.slider{
  height: 100%;
}
.slider-item{
 // display: flex;
  justify-content: center;
  align-items: center;
}
//.slider-item.is-current *div.tags{
//  z-index: 1 !important;
//}

.events-carousel>div.slider>.slider-container{
  //width: 100% !important;
  max-height: 100%;
}
//.events-carousel{
//  //height: 230px;
//  //width: 200px
//  height: 100%;
//  width: 100%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}
.disc:hover{
  cursor: pointer;
}

#majorEvent{
  height: 100%;
  min-height: 30vh;
}

.slider-navigation-next, .slider-navigation-previous{
  border-radius: 0 !important;
  border: none !important;
  box-shadow: $box-shadow-bulma;
}

.slider-container-child{
  //box-shadow: -5px 0 25px 15px #0A0A0A;
  z-index: 1;
}

// TEXTHOVER (INFOBULE)
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  //overflow: hidden;
  //text-overflow: ellipsis;
  width: max-content;
  max-width: 50vw;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  transition: opacity .5s ease-in-out;
  position: absolute;
  z-index: 1;
  font-weight: bold;
  //left: 0;
  top: 105%;
  font-size: .7rem;
}

.left.hovertext:before{
  left: 0 !important;
}
.right.hovertext:before{
  right: 0 !important;
}

.hovertext:hover:before, .hovertext:active:before {
  opacity: 1;
  visibility: visible;
}


@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-10px)
  }
}

@keyframes rotationX {
  0% {
    transform: rotateX(0)
  }
  100% {
    transform: rotateX(360deg)
  }
}


@keyframes glow {
  0% {
    text-shadow: 0 0 20px $success;
    color: white;
  }
  50% {
    text-shadow: 0 0 30px $success, 0 0 10px #daba00;
    color: $success;
  }
  100%{
    text-shadow: 0 0 20px $success;
    color: white;
  }
}


@keyframes jumpUp {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-20%);
  }
  50%, 100% {
    transform: translateY(0%);
  }
}

@import "~bulma";
@import "~bulma-calendar";
@import "~bulma-carousel";
@import "~@creativebulma/bulma-tagsinput";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
