
$link: #3488CE;
$success: #DA4600;
$primary: #7C4A8C;

$dropdown-menu-min-width: 0;
$dropdown-content-padding-top: 0;
$dropdown-content-padding-bottom: 0;

body{
  min-height: 100vh;
}

section.body{
  min-height: inherit;
}

/*
#header{
  width: 100%;
  height: 4em;
  background: $primary;
  position: fixed;
  top: 0;
  z-index: 5;
}

#footer{
  width: 100%;
  min-height: 6em;
  background: $primary;
  position: relative;
}
*/

.is-size-mega{
  font-size: 10em !important;
}

.addToCalendar{

}

.is-100vh{
  height: 100vh;
}
.is-100vw{
  height: 100vw;
}

.box-shadow-bulma{
  box-shadow: 0 0.5em 1em -0.125em rgba(0,0,0,.5), 0 0px 0 1px rgba(0,0,0,0.2);
}

button.datepicker-nav-next:active, button.datepicker-nav-next:focus, button.datepicker-nav-previous:active, button.datepicker-nav-previous:focus{
  background: rgba(255,255,255,.3) !important;
}
.datepicker > *{
  transition: .5s;
}
.datetimepicker-footer-today{
  background: $success !important;
}

.datepicker-year.is-active, .datepicker-month.is-active{
  background: $success !important;
  border-color: $success !important;
}

.highlight-info{
  background: $primary;
  min-height: 50px;
  width: 320px;
}

.show-password{
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 40px;
}
.show-password:hover{
  cursor: pointer;
}

.borderless{
  border-radius: 0 !important;
}

.transition-3ms{
  transition: .3s !important;
}

.opacity0{
  opacity: 0 !important;
  visibility: hidden;
  height: 0px;
}

.opacity100{
  opacity: 100% !important;
  visibility: visible;
  height: max-content;
}

@import "~bulma";
@import "~bulma-calendar";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
