<div class="py-4 has-background-black">
    <h3 class="is-size-3 has-text-white has-text-centered">{{ 'You want to make a move for MB Ministry'|trans }} ?</h3>
    <h4 class="is-size-4 has-text-white has-text-centered">{{ 'Make a donation'|trans }}</h4>
    <div class="column my-4 is-flex is-flex-direction-row is-justify-content-center has-background-black margin-auto">
        <div class="rotationX">
            <a class="icon is-large is-size-1 is-success">
                <i class="fa-brands fa-lg fa-cc-paypal"></i>
            </a>
        </div>
    </div>
</div>
