<div class="py-4 has-background-black">
    <h3 class="is-size-3 has-text-white has-text-centered">{{ 'You want to make a move for MB Ministry'|trans }} ?</h3>
    <h4 class="is-size-4 has-text-white has-text-centered">{{ 'Make a donation'|trans }}</h4>
    <div class="column is-flex is-flex-direction-row is-justify-content-center has-background-black rotationX margin-auto">
        <a class="icon is-size-1 is-success">
            <i class="fa-brands fa-lg fa-cc-paypal"></i>
        </a>
    </div>
</div>
