<div class="py-4 has-background-black">
    <h3 class="is-size-3 has-text-white has-text-centered">{{ 'MB Ministry partners'|trans }}</h3>
    <div class="columns is-multiline is-flex is-flex-direction-row is-justify-content-center has-background-black">
        <figure class="image m-4 is-128x128 scale-up-fade">
            <img src="{{ asset('build/images/crc.140f232d.png') }}">
        </figure>
{#        <figure class="image m-4 is-128x128 scale-up-fade">#}
{#            <img src="https://bulma.io/images/placeholders/256x256.png">#}
{#        </figure>#}
{#        <figure class="image m-4 is-128x128 scale-up-fade">#}
{#            <img src="https://bulma.io/images/placeholders/256x256.png">#}
{#        </figure>#}
{#        <figure class="image m-4 is-128x128 scale-up-fade">#}
{#            <img src="https://bulma.io/images/placeholders/256x256.png">#}
{#        </figure>#}
{#        <figure class="image m-4 is-128x128 scale-up-fade">#}
{#            <img src="https://bulma.io/images/placeholders/256x256.png">#}
{#        </figure>#}
    </div>
</div>
