<div class="parallax is-relative z-index-1" style="background-size: contain !important;background: center no-repeat url({{ asset('build/images/mb_cost_blue_2.68cb39e6.jpg') }})">
    <div class="is-flex is-justify-content-center is-align-items-center has-background-black-layer">
        <div class="column" style="min-height: 100vh">
            <h3 class="subtitle is-2 has-text-success">WELCOME...</h3>
            <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
            <div class="container has-text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis doloremque dolores iure, maxime praesentium quidem repellendus. A deleniti hic id inventore, minima minus placeat possimus praesentium quasi rerum veniam.
            </div>
        </div>
    </div>
</div>
