<div class="z-index-1">
    <div class="parallax2 slide-fade-left has-background-transparent smoothSlideRight bg-size-cover-mobile" style="background: left no-repeat url({{ asset('build/images/mb_cost_blue_2.5179240f.jpg') }})"></div>
    <div class="is-flex is-justify-content-center is-align-items-center is-relative has-background-black-layerless">
        <div class="column is-hidden-touch"></div>
        <div class="column slide-fade-right is-three-quarters-desktop is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh">
            <div class="section has-text-right-tablet is-flex-tablet is-flex-direction-column is-align-items-end">
                <h3 class="subtitle is-2 has-text-white">{{ 'Welcome to the official website of Marcel Boungou'|trans }}</h3>
                <p class="subtitle has-text-grey-light column p-0 is-two-thirds">
                    {{ 'Official website of gospel artist Marcel BOUNGOU. Discover all the news on the latest events and announcements of the pastor and cantor Marcel BOUNGOU.'|trans }}
                    <br>
                    {{ 'Learn more about the MB Ministry label'|trans }}
                </p>
                <div class="column is-full has-text-centered">
                    <a href="#news">
                        <span class="icon has-text-white is-size-1 jumpDown">
                            <i class="fas fa-caret-down"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
