<div class="z-index-1">
    <div class="parallax2 slide-fade-left has-background-transparent smoothSlideRight" style="background-size: contain !important;background: left no-repeat url({{ asset('build/images/mb_cost_blue_2.5179240f.jpg') }})"></div>
    <div class="is-flex is-justify-content-center is-align-items-center is-relative has-background-black-layerless">
        <div class="column is-hidden-touch"></div>
        <div class="column slide-fade-right is-three-quarters-desktop is-flex is-flex-direction-column is-justify-content-center" style="min-height: 100vh">
            <h3 class="subtitle is-2 has-text-white">{{ 'Welcome to the official website of Marcel Boungou'|trans }}</h3>
            <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
            <p class="has-text-white">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi debitis doloremque dolores iure, maxime praesentium quidem repellendus. A deleniti hic id inventore, minima minus placeat possimus praesentium quasi rerum veniam.
            </p>
        </div>
    </div>
</div>
