{% extends 'base.html.twig' %}

{% block title %}{% trans %}All News{% endtrans %}{% endblock %}

{% block body %}
    <div class="z-index-1">
        <div class="is-flex-tablet is-justify-content-center is-align-items-center">
            <div class="column is-three-quarters-desktop is-flex-tablet is-flex-direction-column is-justify-content-center z-index-1" style="min-height: 100vh">
                <h3 class="subtitle is-2 has-text-white has-text-centered">{{ 'What is the latest news at MB Ministry'|trans }} ?</h3>
                <p class="subtitle has-text-grey-light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aspernatur at dolorem doloremque dolorum est ex expedita in magnam, nobis officiis provident reiciendis sit tempora ut velit vitae. Illum, velit.</p>
                    <div class="column p-0 is-three-quarters margin-auto">
                        {% for new in news|sort((a, b) => b.datetime <=> a.datetime) %}
                            {{ include('news/news_article_box.html.twig') }}
                        {% endfor %}

                        {% include 'news/subs_form.html.twig' %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}
