<a href="{{ path('album_edit', {'id': album.id}) }}" class="button borderless is-warning is-small" style="position:absolute;right: 0;top: 0;z-index: 2;">
    <span class="icon">
        <i class="fas fa-lg fa-edit"></i>
    </span>
</a>