<head>
    <style>
        *{
            font-family: Ubuntu, Helvetica, Arial, sans-serif;
            overflow-wrap: break-word;
        }
        .shadow-box-1{
            background: rgba(72, 50, 19, .5);
            border-radius:.5rem;
            box-shadow: 0 0 5px rgba(255, 219, 127, 0.9);
            padding: .75em;
            margin: .25em;
            text-decoration: none;
            color: #da6d00;
        }
        .has-text-white{
            color: white;
        }
        .has-text-link{
            color: #987f00;
        }
        .has-text-link-hover{
            color: #c2a800;
        }
        .has-text-success{
            color: #da6d00;
        }
        .has-text-success-layer{
            color: rgba(218, 112, 0, 0.7);
        }
        .has-text-primary{
            color:#7C4A8C;
        }
        .has-text-primary-layer {
            color:rgba(124, 74, 140, 0.7);
        }
        .has-text-primary-dark-layer {
            color:rgba(35, 13, 41, 0.8);
        }
        .has-text-black{
            color:#0a0a0a;
        }
        .has-text-dark{
            color:#4a4a4a;
        }
        .has-text-white-layer{
            color:rgba(255, 255, 255, 0.7);
        }
        .has-text-black-layer{
            color:rgba(0, 0, 0, 0.7);
        }
        .has-text-black-layerless{
            color:rgba(0, 0, 0, 0.5);
        }
    </style>
</head>

<div class="has-text-white" style="font-family: sans-serif; background: rgb(41,41,41); padding: 30px;text-align: center">
    <h3>Confirmation de votre abonnement aux rappels</h3>

    <div style="text-align: center">
        <p>Votre abonnement aux rappels de l'évenement {{ event.title }} du site marcel-boungou.com à bien été pris en compte.</p>
        <p>Vous recevrez un rappel 1 Mois, 1 Semaine et 1 Jour avant le commencement de l'évenement</p>
    </div>

    <br><br><br>

    <div style="text-align: center;font-size: 12px">
        Si vous ne souhaitez ne plus recevoir ce type d'e-mails ? <a href="https://marcel-boungou.com/subscrib/remove/all" style="color: grey;text-decoration: none">se désabonner</a>
        <br><br><a href="https://marcel-boungou.com" style="color: grey">www.marcel-boungou.com</a>
    </div>

</div>

