{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="column is-two-fifths-desktop is-two-thirds-tablet has-background-light">
    {{ include('themes/_form.html.twig') }}
</div>
{% endblock %}
