{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.name|default('') }}{% endblock %}

{% block body %}
{#        <div class="is-flex align-content-center is-justify-content-center is-100vh">#}
{#                <div class="is-flex is-align-items-center">#}
                        {{ include('themes/_form.html.twig') }}
{#                </div>#}
{#        </div>#}
{% endblock %}
