{% extends 'base.html.twig' %}

{% block title %}403{% endblock %}

{% block body %}
    <section class="section is-flex is-flex-direction-column is-align-items-cente has-text-centered">
        <h1 class="title is-size-mega has-text-danger-dark"><b>403</b></h1>
        <h2 class="subtitle is-3"><b>{% trans %}Access denied{% endtrans %} !</b></h2>
        <p>
            <a class="button is-small is-primary" href="{{ path('home_index') }}">{% trans %}Back to homepage{% endtrans %}</a>
        </p>
    </section>
{% endblock %}
