{% extends 'base.html.twig' %}

{% block title %}Page not found{% endblock %}

{% block body %}
    <section class="section is-flex is-flex-direction-column is-align-items-cente has-text-centered">
        <div class="box">
            <h1 class="title is-size-mega is-size-1-mobile has-text-danger-dark"><b>{% trans %}Error{% endtrans %}</b></h1>
            <h2 class="subtitle is-3 is-size-4-mobile"><b>{% trans %}Something went wrong{% endtrans %}...</b></h2>

            <p>
                <a class="button is-small is-primary" href="{{ path('home_index') }}">{% trans %}Back to homepage{% endtrans %}</a>
            </p>
        </div>
    </section>
{% endblock %}
