{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Manager{% endtrans %}{% endblock %}

{% block body %}
<div class="column is-two-fifths-desktop is-two-thirds-tablet has-background-light">
    <h1 class="subtitle is-3">{% trans %}Create new Manager{% endtrans %}</h1>

    {{ include('themes/_form.html.twig') }}

    <a href="{{ path('user_index') }}">{% trans %}back to list{% endtrans %}</a>
</div>
{% endblock %}
