{% extends 'base.html.twig' %}

{% block title %}{% trans %}Discography{% endtrans %}{% endblock %}

{% block body %}
    <div class="section column is-full">
        <h1 class="title has-text-white">{% trans %}Discography{% endtrans %}</h1>
        <h2 class="subtitle has-text-white">{% trans %}Welcome to the discography page of the artist{% endtrans %}</h2>
        <p class="has-text-white">
            {% trans %}Find all the musical collections, from the great classics to the most recent productions, including the essentials{% endtrans %}
            <br>
            {% trans %}Filter your search by clicking on an Album or by using the search bar...{% endtrans %}
        </p>
    </div>

    <div class="column has-background-light is-full is-full-mobile search-bar">
        <div class="field">
            <div class="control has-icons-right has-icons-left is-relative">
                <input class="input" type="text" id="searchInput" onkeyup="searchFilter()" placeholder="{% trans %}Type your search here{% endtrans %}">
                <span class="icon is-small is-left">
                    <i class="fas fa-search"></i>
                </span>
                <div class="show-password" onclick="resetSearch()">
                    <button class="button is-danger" style="width: 100%">
                    <span class="icon is-small">
                        <i class="fas fa-2x fa-times"></i>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    {% if albums|length > 0 %}
        {{ include('discography/album_list.html.twig') }}
    {% endif %}
    {% if musics|length > 0 %}
        {{ include('discography/musics_list.html.twig') }}
    {% endif %}

    <div class="container has-text-white is-flex-tablet">
        <div class="column is-half-tablet">
            <h3 class="title has-text-white">{% trans %}Want to listen without limit{% endtrans %} ?</h3>
            <p>{% trans %}Go to the shop page to support the artist and get exclusive content{% endtrans %}</p>
            <a href="#" class="button is-fullwidth is-success">{% trans %}Shop{% endtrans %}</a>
        </div>
        <div class="column is-half-tablet">
            <figure class="image is-1by1">
                <img class="object-fit-contain" src="{{ asset('build/images/mb_cost_blue_1.4e43ac8e.jpg') }}" alt="">
            </figure>
        </div>
    </div>

{% endblock %}

{% block javascripts %}


    <script>

        {#          BULMA CAROUSEL            #}
        //initialize options :

        var options = {
            initialSlide: 0,
            slidesToScroll: 1,
            slidesToShow: 5,
            infinite: false,
            loop:true,
            effect: 'translate',
            autoplay: true,
            duration:1000,
            autoplaySpeed:2000,
            navigationSwipe: true,
            navigationKeys: true,
            pagination: false,
        };

        // Initialize all div with carousel class
        var carousels = bulmaCarousel.attach('.carousel', options);

        // Loop on each carousel initialized
        for(var i = 0; i < carousels.length; i++) {
            // Add listener to  event
            carousels[i].on('before:show', state => {

            });
        }
        {#                               #}


        {# SCRIPT POUR LE BOUTON PLAY DES PLAYERS #}
        function startMusic(btn){
            let audio = btn.parentElement.querySelector('audio');
            if (!audio.paused){
                pauseAllMusics(audio);
            } else {
                pauseAllMusics(audio);
                audio.play();
            }
        }
        function pauseAllMusics(target){
            let allAudio = document.querySelectorAll('audio');
            allAudio.forEach(function (audio) {
                // if (target !== audio){
                audio.pause();
                // }
            });
        }

        let playBtns = document.querySelectorAll('.play-btn');
        playBtns.forEach(function (btn) {
            var audio = btn.parentElement.querySelector('audio');
            var icon = btn.parentElement.querySelector('i.icon-play');
            var musicContainer = btn.parentElement.parentElement;
            var nextContainer = musicContainer.nextElementSibling;
            var musicText = btn.parentElement.parentElement.querySelector('.music-text');

            // ON MUSIC END
            audio.addEventListener('ended',function () {
                icon.classList.replace('fa-pause', 'fa-play');
                musicContainer.classList.remove('scalup-1-1');
                // musicContainer.style.filter = 'grayscale(1)';
                nextContainer = getNextVisibleContainer(nextContainer);
                btn.parentElement.classList.remove('box-shadow-success');

                musicText.classList.remove('text-shadow-success');

                if (nextContainer){
                    var nextBtnPlayAudio = nextContainer.querySelector('.play-btn');
                    nextBtnPlayAudio.click();
                }


                function getNextVisibleContainer(nextSong) {
                    while (nextSong) {
                        if (nextSong.classList.contains('is-hidden')){
                            nextSong = nextSong.nextElementSibling;
                        } else {
                            return nextSong;
                        }
                    }
                }

            });

            // ON MUSIC PAUSE
            audio.onpause = function () {
                icon.classList.replace('fa-pause', 'fa-play');
                musicContainer.classList.remove('scalup-1-1');
                btn.parentElement.classList.remove('box-shadow-success');
                // musicContainer.style.filter = 'grayscale(1)';
                musicText.classList.remove('text-shadow-success')
            };

            // ON MUSIC PLAY
            audio.onplay = function () {
                icon.classList.replace('fa-play', 'fa-pause');
                musicContainer.classList.add('scalup-1-1');
                btn.parentElement.classList.add('box-shadow-success');
                // musicContainer.style.filter = 'grayscale(0)';
                musicText.classList.add('text-shadow-success')
            };
        });
        {#                               #}

        {# POUR LES BOUTONS REPEAT #}
        let repeatBtns = document.querySelectorAll('.repeat-btn');
        repeatBtns.forEach(repeatMusic);
        function repeatMusic(btn) {
            var musicContainer = btn.parentElement.parentElement;
            var audio = musicContainer.querySelector('audio');
            btn.addEventListener('click',function () {
                audio.currentTime = 0;
            })
        }
        {#                               #}

        {# POUR LES BOUTONS LOOP #}
        let loopBtns = document.querySelectorAll('.loop-btn');
        loopBtns.forEach(loopMusic);
        function loopMusic(btn) {
            var musicContainer = btn.parentElement.parentElement;
            var audio = musicContainer.querySelector('audio');
            btn.addEventListener('click',function () {
                audio.toggleAttribute('loop');
                btn.classList.toggle('is-light');
            })
        }
        {#                               #}

        {# POUR LES BOUTONS STOP #}
        let stopBtns = document.querySelectorAll('.stop-btn');
        stopBtns.forEach(stopMusic);
        function stopMusic(btn) {
            var musicContainer = btn.parentElement.parentElement;
            var audio = musicContainer.querySelector('audio');
            btn.addEventListener('click',function () {
                audio.pause();
                audio.currentTime = 0;
            })
        }
        {#                               #}

        {# SCRIPT POUR BARRE DE RECHERCHE FILTRE JS #}
        function searchFilter() {
            // Declare variables
            var input, filter, albumName, albumYear, musicName, albumTxtValue, musicTxtValue, albumYearValue, musicContainer;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();

            musicContainer = document.querySelectorAll('.music-container');

            // Loop through all list items, and hide those who don't match the search query
            musicContainer.forEach(function (container) {
                albumName = container.querySelector('.album-name');
                albumYear = container.querySelector('.album-year');
                musicName = container.querySelector('.music-name');
                albumTxtValue = albumName.textContent || albumName.innerText;
                albumYearValue = albumYear.textContent || albumYear.innerText;
                musicTxtValue = musicName.textContent || musicName.innerText;
                if ( (albumTxtValue.toUpperCase().indexOf(filter) > -1) || (albumYearValue.toUpperCase().indexOf(filter) > -1) || (musicTxtValue.toUpperCase().indexOf(filter) > -1) ) {
                    container.classList.remove('is-hidden');
                    container.classList.replace('opacity0', 'opacity100')
                } else {
                    container.classList.add('is-hidden');
                    container.classList.replace('opacity100', 'opacity0')
                }
            });

        }

        {# SCRIPT POUR BARRE DE RECHERCHE FILTRE JS #}
        function searchAlbum(album) {
            // Declare variables
            var albumSelected, albumName, musicContainer;
            // filter = input.value.toUpperCase();

            musicContainer = document.querySelectorAll('.music-container');
            albumSelected = album.querySelector('.album-name').textContent.toUpperCase();

            console.log(albumSelected);

            // Loop through all list items, and hide those who don't match the search query
            musicContainer.forEach(function (container) {
                albumName = container.querySelector('.album-name').textContent.toUpperCase();
                if (albumName === albumSelected){
                    container.classList.remove('is-hidden');
                    container.classList.replace('opacity0', 'opacity100')
                }else {
                    container.classList.add('is-hidden');
                    container.classList.replace('opacity100', 'opacity0')
                }
            });

        }


        {# SCRIPT ANCRAGE SEARCH ALBUM / MUSIQUES #}
        function searchAncrage(link) {
            // var input = document.getElementById('searchInput');
            // var ancrageTxt = link.getAttribute('data-href');
            // input.value = ancrageTxt;
            searchAlbumFilter();
        }


        {# SCRIPT RESET SEARCH #}
        function resetSearch() {
            var input = document.getElementById('searchInput');
            input.value = '';
            searchFilter();
        }


    </script>


    {#          SCRIPT FOR JS DISC ANIMATION PERSO            #}
{#    <script>#}
{#        document.onload = initDiscs();#}
{#        let discs = document.querySelectorAll('.disc');#}

{#        discs.forEach(function (disc) {#}
{#            disc.addEventListener('click', function () {#}

{#                removeDiskClasses();#}

{#                giveNearAndFarDiscClasses(disc);#}

{#                initDiscs();#}

{#            })#}
{#        });#}

{#        function giveNearAndFarDiscClasses(thisDisc) {#}
{#            thisDisc.classList.add('disc-selected');#}
{#            let discNearLeft = thisDisc.previousElementSibling;#}
{#            if (discNearLeft){#}
{#                discNearLeft.classList.add('disc-near-left');#}
{#                let discFarLeft = discNearLeft.previousElementSibling;#}
{#                if (discFarLeft){#}
{#                    discFarLeft.classList.add('disc-far-left');#}
{#                }#}
{#            }#}
{#            let discNearRight = thisDisc.nextElementSibling;#}
{#            if (discNearRight){#}
{#                discNearRight.classList.add('disc-near-right');#}
{#                let discFarRight = discNearRight.nextElementSibling;#}
{#                if (discFarRight){#}
{#                    discFarRight.classList.add('disc-far-right');#}
{#                }#}
{#            }#}
{#        }#}

{#        function initDiscs(){#}
{#            let discs = document.querySelectorAll('.disc');#}
{#            discs.forEach(function (disc) {#}
{#                if (disc.classList.contains('disc-selected')){#}
{#                    disc.classList.remove('disc-hidden');#}
{#                    giveNearAndFarDiscClasses(disc);#}
{#                }else if(disc.classList.contains('disc-near-left') || disc.classList.contains('disc-near-right')){#}
{#                    disc.classList.remove('disc-hidden');#}
{#                }else if(disc.classList.contains('disc-far-left') || disc.classList.contains('disc-far-right')){#}
{#                    disc.classList.remove('disc-hidden');#}
{#                }else {#}
{#                    disc.classList.add('disc-hidden');#}
{#                }#}
{#            })#}
{#        }#}

{#        function showOrHideNearDisk(diskSelected) {#}
{#            let discNearLeft = diskSelected.previousElementSibling;#}
{#        }#}

{#        function removeDiskClasses() {#}
{#            let discs = document.querySelectorAll('.disc');#}
{#            discs.forEach(dsk => dsk.classList.remove("disc-selected", "disc-far-left", "disc-near-left", "disc-near-right", "disc-far-right"));#}
{#        }#}



{#        discs.forEach(function (disc) {#}
{#            var lastScrollTop = 0;#}
{#            if (disc){#}
{#                // element should be replaced with the actual target element on which you have applied scroll, use window in case of no target element.#}
{#                disc.addEventListener("scroll", function(){ // or window.addEventListener("scroll"....#}
{#                    var st = window.pageYOffset || document.documentElement.scrollTop; // Credits: "https://github.com/qeremy/so/blob/master/so.dom.js#L426"#}
{#                    if (st > lastScrollTop){#}
{#                        // downscroll code#}
{#                        // console.log('scroll down')#}
{#                    } else {#}
{#                        // upscroll code#}
{#                        // console.log('scroll up')#}
{#                    }#}
{#                    lastScrollTop = st <= 0 ? 0 : st; // For Mobile or negative scrolling#}
{#                }, false);#}
{#            }#}
{#        });#}

{#    </script>#}


{% endblock %}
