<div class="column p-0 has-background-light is-full is-full-mobile box-shadow-bulma" id="musicNav">
    <a class="column is-flex is-align-items-center is-justify-content-center" onclick="toogleMusicNav()" id="musicNavEllipsis">
        <span class="icon is-size-3 has-text-grey">
            <i class="fas fa-ellipsis-h"></i>
        </span>
    </a>
    <div class="is-flex is-justify-content-center is-align-items-center" id="musicNavContent">
        <span class="current-music-played">{{ 'no music played'|trans }}</span>
    </div>
</div>
